/*@import url('https://fonts.google.com/');*/

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.error {
    color: red;
}

h1 {
    margin-left: 2%;
}

#news {
    display: flex;
}

#news article {
    flex: 1;
    width: 25%;
    max-width: 450px;
    border: solid #111 2px;
    padding: 25px;
    margin: 10px;
}

#news article * {
    width: 100%;
    margin-left: 10px;
    word-break: break-word;
    margin: 0;
}

#news article .spacer {
    margin-bottom: 4px;
}

#news article a img,
#news article .spacer {
    height: 210px;
}

#news p {
    margin: 0;
}

#news p:nth-last-child(2) {
    height: 120px;
    padding-bottom: 10px;
    border-bottom: solid #333 1px;
}

#news p:last-child {
    margin-top: 10px;
}

#news p:last-child>img {
    width: 16px;
    vertical-align: text-top;
}

/*== FORMS ==*/

form label {
    display: block;
}

form div {
    margin-top: 15px;
}

form select {
    width: 100px;
}

/*== NAVBAR ==*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav .connect {
    float: right;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}