@import url('https://fonts.googleapis.com/css2?family=Nunito');

:root {
    --secondary-color: #ef921c
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
    overflow-x: hidden;
}

.error {
    color: red;
}

h1 {
    margin-left: 2%;
    margin-top: 75px;
}

meter {
    width: 100px;
    margin-right: 6px;
}

/*== ASIDE ==*/

aside {
    background-color: #222;
    position: fixed;
    top: 50px;
    width: 200px;
    height: 100vh;
    color: white;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.265) 3px 0px 6px 0px;
}

body:not(.iframable)>*:not(aside):not(header) {
    padding-left: 200px;
}

.iframable {
    padding-left: 20px;
}

/*== NEWS ==*/

#news {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#news article {
    flex: 1;
    min-width: 400px;
    width: 25%;
    max-width: 450px;
    margin: 10px;
    background-color: #fff9;
    border-radius: 12px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@media (max-width: 1050px) {
    #news article {
        margin-left: auto;
        margin-right: auto;
    }
}

#news article * {
    width: 100%;
    word-break: break-word;
    margin: 0;
}

#news article:hover {
    /* background-color: var(--secondary-color); */
    box-shadow: 0px 2px 1px -1px var(--secondary-color), 0px 1px 1px 0px var(--secondary-color), 0px 1px 3px 0px var(--secondary-color);
    transition: background-color 0.25s ease-in-out;
}

#news article .spacer {
    margin-bottom: 4px;
}

#news button {
    width: 25%;
    float: left;
    margin: 5px;
    cursor: pointer
}

#news article a img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: brightness(100%);
    transition: filter 0.25s ease-in-out;
    z-index: 0;
}

#news article a:hover img {
    filter: brightness(80%);
    transition: filter 0.25s ease-in-out;
}

#news article>div:nth-child(2) {
    margin: 16px;
}

#news article p {
    margin: 0 16px 8px 16px;
    width: calc(100% - 32px);
}

#news article p:nth-last-child(2) {
    height: auto;
    padding-bottom: 10px;
    border-bottom: solid #666 1px;
}

#news article p:last-child>img {
    width: 16px;
    vertical-align: -9%;
}

#news article div.buttonsholder {
    margin-bottom: 32px;
}

#news article div.buttonsholder>button {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background-color: #ddd;
    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    border-radius: 15px;
    border-color: transparent;
    text-transform: uppercase;
    outline: none;
}

#news article div.buttonsholder>button:hover {
    background-color: var(--secondary-color);
    color: #fff;
    transition: background-color 0.25s ease-in-out;
}

#news article div.buttonsholder>button:focus {
    border-color: #222;
    transition: border-color 0.25s ease-in-out;
}

/*== FORMS ==*/

form {
    margin-top: 25px;
    margin-bottom: 5px;
}

form label {
    display: block;
}

form div {
    margin-top: 15px;
}

form label.radio-container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

form input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


form input[type="radio"]+span {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 13px;
    width: 13px;
    background-color: #eee;
    transition: background-color 0.25s ease-in-out;
    border-radius: 50%;
}

form label.radio-container:hover {
    color: var(--secondary-color);
    transition: color 0.25s ease-in-out;
}

form label.radio-container:hover input[type="radio"]~span {
    background-color: var(--secondary-color);
    transition: background-color 0.25s ease-in-out;
}

form label.radio-container input[type="radio"]:checked~span {
    background-color: var(--secondary-color);
    top: 9px;
    left: 9px;
    height: 5px;
    width: 5px;
}

form input[type="radio"]+span:after {
    content: "";
    position: absolute;
    display: none;
}

form label.radio-container input[type="radio"]:checked~span:after {
    display: block;
}

form label.radio-container input[type="radio"]+span:after {
    top: -4px;
    left: -4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: transparent;
    border: solid var(--secondary-color) 2px;
}

form select {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #111;
    font-family: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

aside>form select {
    color: white;
}

:not(aside)>form select {
    font-size: 1em;
}

form .select-container {
    display: inline-block;
    margin: 0;
    border: 1px solid rgba(204, 204, 204, 0.87);
    border-radius: 0.25em;
    cursor: pointer;
    background-color: transparent;
    width: max-content;
    min-width: 190px;
    width: auto;
}

form .select-container:hover {
    border-color: var(--secondary-color);
    transition: border 0.25s ease-in-out;
}

:not(aside)>form .select-container {
    background-color: white;
    line-height: 2em;
}

form select option {
    background-color: transparent;
    color: rgb(134, 134, 134);
}

form div {
    position: relative;
    margin-bottom: 10px;
}

:not(aside)>form div:not(:last-of-type) {
    margin-bottom: 25px;
}

form div label {
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 8px;
    transition: 0.2s ease all;
    color: #777;
}

aside>form div label {
    color: white;
}

form input[type="text"],
form input[type="url"],
form input[type="password"],
textarea {
    display: block;
    border: solid #ccc 1px;
    transition: border-color 0.25s ease-in-out;
    border-radius: 4px;
    line-height: 2em;
    padding: 5px;
    margin: 5px 0;
    outline: none;
}

form input[type="text"]:focus,
form input[type="url"]:focus,
form input[type="password"]:focus,
textarea:focus {
    border-color: var(--secondary-color);
    transition: border-color 0.25s ease-in-out;
}

form input[type="text"]:focus~label,
form input[type="text"]:valid~label,
form input[type="url"]:focus~label,
form input[type="url"]:valid~label,
form input[type="password"]:focus~label,
form input[type="password"]:valid~label,
form textarea:focus~label,
form textarea:valid~label {
    top: -20px;
    font-size: 14px;
    color: #111;
}

form input[type="text"]:focus~label,
form input[type="url"]:focus~label,
form input[type="password"]:focus~label,
form textarea:focus~label {
    color: var(--secondary-color);
}

form .select-container~label,
form .color-container~label,
#createPass {
    top: -20px;
    font-size: 14px;
    color: #111;
}

.color-container input[type="color"] {
    margin-left: 10px;
}

form input[type="submit"] {
    border-color: transparent;
    border-radius: 16px;
    background-color: #ddd;
    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    padding: 4px 16px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    outline: none;
}

form input[type="submit"]:hover {
    background-color: #ef921c;
    color: #fff;
    transition: background-color 0.25s ease-in-out;
}

form input[type="submit"]:focus {
    border: solid #222 2px;
    transition: border-color 0.25s ease-in-out;
}

form fieldset {
    border: solid #222 1px;
    width: max-content;
    min-width: 183px;
    padding: 6px;
    margin-bottom: 30px;
}

aside form fieldset {
    border: solid #fff 1px;
}

/*== NAVBAR ==*/

nav>ul {
    z-index: 1;
    position: fixed;
    width: 100%;
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #333;
    box-shadow: rgba(0, 0, 0, 0.265) 0px 0px 6px 3px;
}

nav>ul>.connect {
    float: right;
}

nav>ul>li {
    float: left;
}

nav li>* {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav>ul>li>* {
    height: 50px;
    padding: 14px 16px;
}

.dropbtn,
nav li a {
    transition: background-color 0.15s ease-in-out;
}

.dropbtn:hover,
nav li a:hover,
nav .active {
    background-color: var(--secondary-color);
    transition: background-color 0.15s ease-in-out;
}

iframe {
    position: fixed;
    /* display: none; */
    background-color: white;
    border: solid #ccc 2px;
    z-index: 1;
    right: 0;
    top: 50px;
}

.dropbtn {
    cursor: pointer;
    color: white;
    height: 50px;
    padding: 14px 16px;
    text-align: center;
}

.dropdown-content {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #333;
    height: auto;
    min-width: 100px;
    top: 50px;
    z-index: 2;
    list-style: none;
    padding: 0;
    margin: 0;
    transform: translateX(-16px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: visibility 0s, opacity 0.1s linear;
}

.dropdown-content li:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-content a {
    padding: 5px;
}

.dropdown-content img {
    width: 16px;
    margin-right: 4px;
    vertical-align: -9%;
}

.show {
    visibility: visible;
    opacity: 1;
}